header img {
    width: 90px;
    border-radius: 40%;
}

header h1 {
    font-size: 40px;
    color: white;
}

header {
    background-color: #572565 ;
    border-radius: 20px;
}

nav {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #B9848C;
    height: 60px;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.div1 {
    display: flex;
}

nav a:hover {
    color: #02315E;
}

.atract {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: #a06a6a;
    font-family: 'Montserrat', sans-serif;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a1 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa1 {
    font-size: 25px;
}

.a1 img {
    width: 250px;
    border-radius: 25px;
}

.a2 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa2 {
    font-size: 25px;
}

.a2 img {
    width: 250px;
    border-radius: 25px;
}

.a3 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa3 {
    font-size: 25px;
}

.a3 img {
    width: 250px;
    border-radius: 25px;
}

.a4 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa4 {
    font-size: 25px;
}

.a4 img {
    width: 250px;
    border-radius: 25px;
}

.a5 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa5 {
    font-size: 25px;
}

.a5 img {
    width: 250px;
    border-radius: 25px;
}

.a6 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa6 {
    font-size: 25px;
}

.a6 img {
    width: 250px;
    border-radius: 25px;
}

.a7 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa7 {
    font-size: 25px;
}

.a7 img {
    width: 250px;
    border-radius: 25px;
}

.a8 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa8 {
    font-size: 25px;
}

.a8 img {
    width: 250px;
    border-radius: 25px;
}

.a9 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa9 {
    font-size: 25px;
}

.a9 img {
    width: 250px;
    border-radius: 25px;
}

.a10 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa10 {
    font-size: 25px;
}

.a10 img {
    width: 250px;
    border-radius: 25px;
}

.a11 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa11 {
    font-size: 25px;
}

.a11 img {
    width: 250px;
    border-radius: 25px;
}

.a12 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa12 {
    font-size: 25px;
}

.a12 img {
    width: 250px;
    border-radius: 25px;
}

.a13 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa13 {
    font-size: 25px;
}

.a13 img {
    width: 250px;
    border-radius: 25px;
}

.a14 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa14 {
    font-size: 25px;
}

.a14 img {
    width: 250px;
    border-radius: 25px;
}

.a15 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa15 {
    font-size: 25px;
}

.a15 img {
    width: 250px;
    border-radius: 25px;
}

.a16 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa16 {
    font-size: 25px;
}

.a16 img {
    width: 250px;
    border-radius: 25px;
}

.a17 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa17 {
    font-size: 25px;
}

.a17 img {
    width: 250px;
    border-radius: 25px;
}

.a18 {
    background-color: #e3dae5;
    width: 250px;
    height: 350px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 30px;
}

.pa18 {
    font-size: 25px;
}

.a18 img {
    width: 250px;
    border-radius: 25px;
}

.dada {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.otkr {
    position: relative;
    top: 25px;
    left: 20px;
    color: white;
}

.otkr:hover {
    color: darkkhaki;
}

header h1:hover {
    color: darkkhaki;
}

.kb {
    text-align: center;
}

.kupb {
    background-color: white;
    border: 4px rgb(56, 56, 56) solid;
    padding-left: 10px;
    padding-right: 10px;
}

.afisha {
    background-color: orange;
    font-size: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 180px;
    text-align: center;
    border-radius: 20px;
}

.onlayn {
    background-color: orange;
    font-size: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 180px;
    text-align: center;
    border-radius: 20px;
}

.pk {
    opacity: 0.8;
}

.kupb2 {
    background-color: white;
    border: 4px rgb(56, 56, 56) solid;
    padding-left: 10px;
    padding-right: 10px;
}

.afisha2 {
    background-color: orange;
    font-size: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 180px;
    text-align: center;
    border-radius: 20px;
}

.onlayn2 {
    background-color: orange;
    font-size: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 180px;
    text-align: center;
    border-radius: 20px;
}

.pk2 {
    opacity: 0.8;
    
}

.KPB {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
